<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Manage Rewards Program</h1>
			<span class="mainDescription">Create/Edit your loyalty program</span>
		</div>
	</div>
</section>
<div ng-controller="newRPCtrl" class="container-fluid container-fullw bg-white">
	<div class="panel panel-white" id="panel1">
		<div class="panel-heading">
			<h4 class="panel-title text-primary" style="text-transform:uppercase"><span class="text-orange">Step 1.</span> Set reward earning rules.</h4>
			<!-- <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool> -->
		</div>
		<div collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<form class="form form-horizontal">
								<div class="form-group">
									<label for="form-field-mask-3" class="col-xs-4 control-label" style="text-align:left">
										How much do you wish to give back in points ?
									</label>
									<div class="input-group col-xs-1">
										<input type="number" class="form-control" name="masked" ng-model="config.percent">
										<span class="input-group-addon"> <i class="fa fa-percent"></i> </span>
									</div>
								</div>
								<div class="form-group">
									<label for="how" class="col-xs-3 control-label" style="text-align:left">
										How your customer earn points ?
									</label>
									<div class="input-group col-xs-6 ">
										<div class="radio clip-radio radio-primary radio-inline" style="padding-top:0">
											<input type="radio" id="radio1" name="inline" value="visit" ng-disabled="!config.percent" ng-model="config.type">
											<label for="radio1">
												On every visit
											</label>
										</div>
										<div class="radio clip-radio radio-primary radio-inline" style="padding-top:0">
											<input type="radio" id="radio2" name="inline" value="purchase" ng-disabled="!config.percent" ng-model="config.type">
											<label for="radio2">
												On every purchase
											</label>
										</div>
									</div>
								</div>
							</form>
							<form ng-show="config.type=='purchase'" role="form" class="form-inline">
								For every 
								<div class="form-group"  style="padding:0 5px">
									<div class="input-group" style="width:100px">
										<input type="number" id="exampleInputPassword2" class="form-control">
										<span class="input-group-addon"> <i class="fa fa-inr"></i> </span>
									</div>
								</div>
								purchase, your customer earns
								<div class="form-group" style="padding:0 5px">
									<div class="input-group" style="width:150px">
										<input type="number" id="points" class="form-control">
										<span class="input-group-addon"> points</span>
									</div>
								</div>
								
							</form>
							<form ng-show="config.type=='visit'" role="form" class="form-inline">
								How much your customers spend on average at your business? 
								<div class="form-group"  style="padding:0 5px">
									<div class="input-group" style="width:100px">
										<input type="number" id="spndAmount" class="form-control" ng-model="config.basket">
										<span class="input-group-addon"> <i class="fa fa-inr"></i> </span>
									</div>
								</div>

							</form>
						</div>
					</div>
					<hr>
					<div class="row padding-top-15">
						<div class="col-xs-12">
							<h4>Set extra points for</h4>
							<form role="form" class="form-inline">
								For every 
								<div class="form-group"  style="padding:0 5px">
									<div class="input-group">
										<input type="type" placeholder="customer sign up" disabled class="form-control">
										
									</div>
								</div>
								give
								<div class="form-group" style="padding:0 5px">
									<div class="input-group" style="width:150px">
										<input type="number" ng-model="config.extra.signup.points" class="form-control">
										<span class="input-group-addon">points</span>
									</div>
								</div>
								or
								<div class="form-group"  style="padding:0 5px">
									<div class="input-group" style="width:100px">
										<input type="number" id="spndAmount" ng-model="config.extra.signup.worth" class="form-control">
										<span class="input-group-addon"> <i class="fa fa-inr"></i> </span>
									</div>
								</div>
							</form>
							<extra-points pointworth="config.pointWorth"></extra-points>
							
						</div>
					</div>
					<div class="row padding-top-15">
						<div class="col-xs-12">
							<button type="button" class="btn btn-success" ng-click="submit()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- panel 1 ends here -->
	<!-- panel2 start -->
	<div class="panel panel-white" id="panel2">
		<div class="panel-heading">
			<h4 class="panel-title text-primary" style="text-transform:uppercase"><span class="text-orange">Step 2.</span> Add Rewards</h4>
			<!-- <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool> -->
		</div>
		<div collapse="panel2" ng-init="panel2=false" class="panel-wrapper">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row padding-bottom-15">
						<div class="col-xs-12 col-lg-12">
							<div class="row">
								<div class="col-xs-1 text-center">
									Visits
								</div>	
								<div class="col-xs-2 text-center">
									Amount spent/Points
								</div>	
								<div class="col-xs-2 text-center">
									Giveback
								</div>	
								<div class="col-xs-2 text-center">
									Reward worth
								</div>	
								<div class="col-xs-3 text-center">
									Reward
								</div>	
								<div class="col-xs-1 text-center">
									Delete
								</div>
							</div>
							<div class="rewardslist-container">
								<purchase-rewards ppv="config.ppv" percent="config.percent"></purchase-rewards>
							</div>
							<button type="button" class="btn btn-success" ng-click="addReward()">Add new</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- panel2 ends here -->
	<!-- panel 3 begins -->
	
	<!-- panel 3 ends -->
</div>
</div>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE