<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">New Push Offer</h1>
			<span class="mainDescription">Call back your customers now !</span>
		</div>
		<div class="col-sm-4">
			<a ui-sref="app.table.pushoffers" class="btn btn-wide btn-success pull-right">Go back</a>
		</div>
	</div>
</section>
<div ng-controller="newPOCtrl" class="container-fluid container-fullw bg-white">
	<div class="panel panel-white" id="panel1">
		<div class="panel-heading">
			<h4 class="panel-title text-primary" style="text-transform:uppercase"><span class="text-orange">Step 1.</span> Choose Offer Template</h4>
			<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
		</div>
		<div collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<a ng-click="setTemplate('cbCustomer')">
							<div class="col-xs-12 col-md-4 col-lg-3 text-center">
								<div class="custom-box" ng-class="setBackground('cbCustomer')">
									<div class="padding-top-5">
										<p>
											<i class="fa fa-angellist"></i>
										</p>
										<p class="text-uppercase">
											Call back customers
										</p>
									</div>	
								</div>						
							</div>
						</a>
						<a ng-click="setTemplate('birthday')">
							<div class="col-xs-12 col-md-4 col-lg-3 text-center">
								<div class="custom-box" ng-class="setBackground('birthday')">
									<div class="padding-top-5">
										<p>
											<i class="fa fa-birthday-cake"></i>
										</p>
										<p class="text-uppercase">
											Birthday offers
										</p>
									</div>	
								</div>						
							</div>
						</a>
						<a ng-click="setTemplate('festive')">
							<div class="col-xs-12 col-md-4 col-lg-3 text-center">
								<div class="custom-box" ng-class="setBackground('festive')">
									<div class="padding-top-5">
										<p>
											<i class="fa fa-birthday-cake"></i>
										</p>
										<p class="text-uppercase">
											Festive Occasion
										</p>
									</div>	
								</div>						
							</div>
						</a>
						<a ng-click="setTemplate('weekend')">
							<div class="col-xs-12 col-md-4 col-lg-3 text-center">
								<div class="custom-box" ng-class="setBackground('weekend')">
									<div class="padding-top-5">
										<p>
											<i class="fa fa-birthday-cake"></i>
										</p>
										<p class="text-uppercase">
											Weekend offer
										</p>
									</div>	
								</div>						
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->